<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Quantity</th>
      <th>Artist Name</th>
      <th>Genre</th>
      <th>Sell Price</th>
      <th>Buy Price</th>
      <th>Markup %</th>
      <th>Delete</th>
      <th>Update</th>
    </tr>
  </thead>
  <% for album in @albums %>
  <tbody>
    <tr>
      <td><%= album.title %></td>
      <td><%= album.stock_level %></td>
      <td><%= Artist.find(album.artist_id).name %></td>
      <td><%= Genre.find(album.genre_id).type %></td>
      <td><%= album.sell_price %></td>
      <td><%= album.buy_price %></td>
      <td><%= album.markup %></td>
      <td>
        <form method="post" action="/album/<%= album.id %>/delete">
          <input type="image" src="images/recycle-bin.png" />
        </form>
      </td>

      <td>
        <a href="/album/<%= album.id %>/update"><img src="images/rotate.png"</a>
      </td>
    </tr>
<% end %>
</table>
